<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA Compatible" content="ie=edge">
    
    <link rel="shortcut icon" href="# /">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/person.css">

    <title>{{data.name}}</title>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>

    <style>
        .column {
            float: left;
            --n:{{data.gallery_len}};
            width: calc(100%/var(--n));
        }
        .addReadMore.showlesscontent .SecSec,
        .addReadMore.showlesscontent .readLess {
            display: none;
        }

        .addReadMore.showmorecontent .readMore {
            display: none;
        }

        .addReadMore .readMore,
        .addReadMore .readLess {
            font-weight: bold;
            margin-left: 2px;
            color: #f16a09;
            cursor: pointer;
        }

        .addReadMoreWrapTxt.showmorecontent .SecSec,
        .addReadMoreWrapTxt.showmorecontent .readLess {
            display: block;
        }
    </style>
</head>

<script>

    function AddReadMore() {
        //Word Limit after which to show Read More.
        var carLmt = 1000;
        // Text to show when text is collapsed
        var readMoreTxt = " ... Read More";
        // Text to show when text is expanded
        var readLessTxt = " Read Less";


        //Traverse all selectors with this class and manipulate HTML part to show Read More
        $(".addReadMore").each(function () {
            if ($(this).find(".firstSec").length)
                return;

            var allstr = $(this).text();
            if (allstr.length > carLmt) {
                var firstSet = allstr.substring(0, carLmt);
                var secdHalf = allstr.substring(carLmt, allstr.length);
                var strtoadd = firstSet + "<span class='SecSec'>" + secdHalf + "</span><span class='readMore'  title='Click to Show More'>" + readMoreTxt + "</span><span class='readLess' title='Click to Show Less'>" + readLessTxt + "</span>";
                $(this).html(strtoadd);
            }

        });
        //Read More and Read Less Click Event binding
        $(document).on("click", ".readMore,.readLess", function () {
            $(this).closest(".addReadMore").toggleClass("showlesscontent showmorecontent");
        });
    }
    $(function () {
        //Calling function after Page Load
        AddReadMore();
    });
    // Open the Modal
    function openModal() {
        document.getElementById("myModal").style.display = "block";
    }

    // Close the Modal
    function closeModal() {
        document.getElementById("myModal").style.display = "none";
    }

    var slideIndex = 1;
    showSlides(slideIndex);

    // Next/previous controls
    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    // Thumbnail image controls
    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("demo");
        var captionText = document.getElementById("caption");
        if (n > slides.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = slides.length }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
        captionText.innerHTML = dots[slideIndex - 1].alt;
    }
</script>

<body>
    <div id="preloader"></div>
    <!-- Person name and image -->
    <h1>{{data.name}}</h1>
    <div class="poster">
        <img src="https://image.tmdb.org/t/p/original/{{data.profile}}">
    </div>
    
    <!-- Information about the person -->
    <div class="content">
        <div class="info">
            <p class="addReadMore showlesscontent">
                Bio:{{data.bio}}
            </p>
        </div>

        <p class="info">
            Birthday:{{data.birthday}}
        </p>
        <p class="info">
            Place of Birth:{{data.birthplace}}
        </p>
        <p class="info">
            <a class="gallery_button" target="_blank" onclick="openModal();currentSlide(1)">Gallery</a>
        </p>

    </div>
    <h2 style="position: absolute; top: 613px; left: 64px;z-index: 9997;color: white;font-size: 31px;">Known for...</h2>

    <!-- Movies the person is involved in -->
    <div class="rec">
        <section>
            <div class="movie-list-container">
                {% for movie in rec %}
                    <div class="switch">
                        <div class="movie-card">
                            <form method="POST" action="/movie/{{movie.title}}">
                                <button type="submit">
                                    <input type="hidden" name=pass value="{{movie.id}}">
                                    <img src="https://image.tmdb.org/t/p/w500/{{movie.poster}}" alt="Unavailable" class="movie-poster" onerror="this.src='/static/img/image-not-found.jpg'">
                                    <h2 style="font-family: 'Montserrat', sans-serif;">{{movie.title}} ({{movie.year}})</h2>
                                </button>
                            </form>
                        </div>
                        <div class="overview-card">
                            <form method="POST" action="/movie/{{movie.title}}">
                                <button type="submit">
                                    <input type="hidden" name=pass value="{{movie.id}}">
                                    <h2 style="font-family: 'Montserrat', sans-serif;">{{movie.title}} ({{movie.year}})</h2>
                                    <p style="font-family: 'Montserrat', sans-serif;color: white;font-weight: 900; font-size: 19px;">{{movie.overview}}</p>
                                </button>
                            </form>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    </div>
    
    <!-- Searchbar -->
    <div class="right">
        <div class="span3 widget-span widget-type-raw_html custom-search" data-widget-type="raw_html" data-x="4" data-w="3">
            <div class="cell-wrapper layout-widget-wrapper">
                <span id="hs_cos_wrapper_module_14308928327274411" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_raw_html" data-hs-cos-general-type="widget" data-hs-cos-type="raw_html">
                    <form method="POST" action="/search">
                        <input placeholder="Search" class="form-control tt-input" id="express-form-typeahead" type="text" name="search" autocomplete="off">
                        <button class="search-btn" type="submit"><span class="icon"></span></button>
                    </form>
                </span>
            </div>
        </div>
    </div>

     <!-- Home Button -->
    <form method="POST" action="/">
        <button class="home" type="submit"></button>
    </form>
    
    <section>
        <!-- The Modal/Lightbox -->
        <div id="myModal" class="modal">
            <span class="close cursor" onclick="closeModal()">&times;</span>
            <div class="modal-content">
            {% for image in gallery %}
                <div class="mySlides">
                    
                    <img src="https://image.tmdb.org/t/p/original{{image.image_path}}" style="width:100%">
                </div>
            {% endfor %}
        </div>

        <!-- Next/previous controls -->
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>

        <!-- Thumbnail image controls -->
        {% for image in gallery %}
            <div class="column">
                <img class="demo" src="https://image.tmdb.org/t/p/w500{{image.image_path}}" onclick="currentSlide({{loop.index}})" alt="yeet">
            </div>
        {% endfor %}
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $(window).load(function () {
                $('#preloader').delay(910).fadeOut();
            });
        });
    </script>
</body>

</html>